* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #555;
    text-align: justify;
    background: radial-gradient(circle,#fff 0%, #22577a 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 17px;
}

h1 {
    text-align: center;
    font-size: xxx-large;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

h1, h2, h3 {
    color: #333;
}

a{
    color: #083d77;
    text-decoration: none;
}

a:hover{
    color: #2e294e;
}

a:visited{
    color: #0466c8;
}

button {
    background-color: #111;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

header {
    height: 2.5em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    font-weight: bold;
}

nav {
    width: 88%;
    margin: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:visited{
    color: #fff;
}

#langToggle{
    width: 12%;
}

main {
    width: 100%;
    padding: 2rem;
    flex: 1;
    background: rgba(222, 255, 253, 0.4);
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#nametag {
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

#tagline {
    font-weight: lighter;
    font-style: italic;
    font-size: 0.9em;
}

#personal-links {
    margin: auto 0;
}

section {
    margin-bottom: 2rem;
}

#skills ul, #journey ul{
    margin-left: 1rem;
}

.project {
    background-color: #f4f4f4;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

#roadmap {
    width: 100%;
    margin: 1rem auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a{
    color: #90caf9;
}

@media (min-width: 768px) {
    header{
        max-width: 75%;
        margin: 0 auto;
    }

    main {
        max-width: 75%;
        border-radius: 60px;
        margin: 10px auto
    }

    #tagline {
        font-size: 1em;
    }

    h1,h2 {
        text-align: justify;
    }

    .project {
        width: 60%;
        margin: 1rem auto;
    }

    #roadmap {
        width: 50%;
        margin: 1rem 0;
    }
}